;ppm-gitmode
;-------------------------------------------------------------------------------
;;ローカルインストールした場合はプラグインの親ディレクトリパスを指定する(開発者用)
;?repopath = %sgu'ppmrepo'
;
;-------------------------------------------------------------------------------
;[section]
;[endsection]
;-------------------------------------------------------------------------------
;[linecust]
;[endlinecust]
;-------------------------------------------------------------------------------
;[execute]
;[endexecute]
;-------------------------------------------------------------------------------
; @nameは設定値です。コメントアウト又は空にすることで初期値を適用します
; @nameの値は複数行に記述できます。二行め以降はTAB文字で開始する必要があります
; $nameは設定キーです。コメントアウト又は空にすることでキー設定を無効化できます
; $nameの値は一行に収めてください
; ?nameは設定値です。コメントアウト又は空にすることで初期値を適用します
; ?nameの値は一行に収めてください
; [section]と[endsection]の間には自由に設定を追加できます
; [section]内で追加するテーブル項目は削除時には通常プロパティ単位で削除しますが
;   ID名の頭に"-"を付けるとテーブルごと削除します
;   テーブルの削除のみが目的の場合は"-<ID> ="とします
;   A_xxx,X_xxx,XB_xxx,XC_xxx,XV_xxx,KC_main,KV_mainは削除対象外です
; [section]の冒頭に"/<name> = <value>"が記述されていると[section]内の[/<name>]を
;   <value>に置換します。正規表現を使用しているため<name>にはメタ文字の使用を
;   避け、英数字を使ってください
; [linecust]と[endlinecust]の間には*linecustを設定できます
;   "<label>,<ID[:SubID]><=param|,command>"の形式で記述します
;   "%"は展開されるためエスケープが必要です
;   複数行の記述はできません
; [execute]と[endexecute]の間にはコマンドを設定できます
;   コマンドはPPx.Execute()にそのまま代入され、*ppmSet実行時に
;   一行ずつ順番に実行されます
;-------------------------------------------------------------------------------
; vim:tw=79:ts=8:sw=8:sts=0:norl:noet:fen:ft=PPxcfg
